parameters:
   dynamicConstantNames:
        - MODULE_CONVERSATION
        - CONVERSATIONS_PER_PAGE
        - CONVERSATION_MESSAGES_PER_PAGE
        - CONVERSATION_LIST_DEFAULT_SORT_FIELD
        - CONVERSATION_LIST_DEFAULT_SORT_ORDER
