includes:
    - phpstan-ambient.neon
    - ../WCF/phpstan-ambient.neon

parameters:
    level: 6
    phpVersion:
        min: 80330
        max: 80599
    paths:
        - files
    scanFiles:
        - constants.php
        - ../WCF/constants.php
    scanDirectories:
        - ../WCF/wcfsetup/install/files
    checkMissingOverrideMethodAttribute: true
    polluteScopeWithLoopInitialAssignments: true
    polluteScopeWithAlwaysIterableForeach: true
    polluteScopeWithBlock: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkTooWideParameterOutInProtectedAndPublicMethods: true
    checkTooWideThrowTypesInProtectedAndPublicMethods: true
    rememberPossiblyImpureFunctionValues: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportAlwaysTrueInLastCondition: true
    reportNonIntStringArrayKey: true
    reportWrongPhpDocTypeInVarTag: true
    reportAnyTypeWideningInVarTag: true
    checkStrictPrintfPlaceholderTypes: true
    strictRules:
        disallowedLooseComparison: true
        booleansInConditions: true
        booleansInLoopConditions: false
        uselessCast: true
        requireParentConstructorCall: true
        disallowedBacktick: true
        disallowedEmpty: true
        disallowedImplicitArrayCreation: true
        disallowedShortTernary: false
        overwriteVariablesWithLoop: false
        closureUsesThis: true
        matchingInheritedMethodNames: true
        numericOperandsInArithmeticOperators: true
        strictFunctionCalls: true
        dynamicCallOnStaticMethod: true
        switchConditionsMatchingType: true
        noVariableVariables: false
        strictArrayFilter: false
        illegalConstructorMethodCall: true
    
