includes:
    - phpstan-ambient.neon
    - ../WCF/phpstan-ambient.neon

parameters:
    level: 6
    phpVersion:
        min: 80102
        max: 80499
    paths:
        - files
    scanFiles:
        - constants.php
        - ../WCF/constants.php
    scanDirectories:
        - ../WCF/wcfsetup/install/files
